*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
  background-color: #1f2937;
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-item a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
}

.nav-item a:hover {
  text-decoration: underline;
}

/* Main/Hero section */

.hero {
  background-color: #1f2937;
  color: #ffffff;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1100px;
  margin: 0 auto;
  padding: 64px 16px;
  gap: 32px;
}


.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 24px;
}


.hero-text button {
  background-color: #3882f6;
  color: #ffffff;
  border: none;
  padding: 10px 32px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


.hero-image img {
  max-width: 100%;
  height: auto;
}


/* Info section */

.info {
  padding: 64px 16px;
  text-align: center;
}

.info-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 48px;
  color: #1f2937;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 48px;

  max-width: 1100px;
  margin: 0 auto;
}

.info-item {
  max-width: 200px;
}


.info-item img {
  width: 100%;
  border-radius: 8px;
  border: 3px solid #3882f6;
  margin-bottom: 12px;
}

.info-item p {
  font-size: 16px;
  color: #1f2937;
}

/* quote section */

.quote {
  background-color: #e5e7eb;
  padding: 96px 16px;
}

.quote-container {
  max-width: 800px;
  margin: 0 auto;
}

blockquote.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 16px;
}

cite.quote-author {
  display: block;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
}

/* Cta section */

.cta {
  padding: 96px 16px;
}

.cta-container {
  max-width: 1100px;
  margin: 0 auto;
}


.cta-box {
  background-color: #3882f6;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 48px;
  border-radius: 8px;
}



.cta-text h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.cta-text p {
  color: #e5e7eb;
}



.cta-button button {
  background-color: transparent;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 6px;

  padding: 10px 32px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Footer Section */

footer {
  background-color: #1f2937;
  color: #ffffff;

  text-align: center;
  padding: 24px;
  font-size: 14px;
}

